/*
 * css样式初始化
 */
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #EBEBEB;
  /*margin-bottom: -65px;*/
}
ul, li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
*{
  font-family: "微软雅黑";
}
/*
 * 首页css文件
 */
#index-content {
  position: relative;
  margin: 0px;
  background: url('../images/index-background.jpg') center center fixed;
  -moz-background-size:cover;
  -ms-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/index-background.jpg',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
              src='../images/index-background.jpg',sizingMethod='scale')";
}
.index-logo {
  position: absolute;
  left: 60px;
  top: 40px;
  width:  300px;
  height: 54.5px;
  background: url('../images/index-logo.png');
  background-size: cover;
  -moz-background-size:cover;
  -ms-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/index-logo.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
              src='.../images/index-logo.png',sizingMethod='scale')";
  z-index: 1000;
}
.index-rightinf {
  position: absolute;
  top: 50px;
  right: 90px;
  /*line-height: 40px;*/
  font-size: 1.5em;
  color: #fff;
}
.index-wrap {
  position: absolute;
  width: 600px;
  height: 360px;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -300px;
}
.index-intr{
  width: 600px;
  height: 310px;
  background: url('../images/index-introduction.png');
}

.login-btn a {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 150px;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  line-height: 35px;
  border: 2px solid #2dcfb3;
}
.login-btn a:hover,  .login-btn a:visited,  .login-btn a:active{
  text-decoration: none;
}
.login-background {
  /*padding: 5px;*/
  height: 250px;
  width: 100%;
  /*background-color: #A9D2D3;*/
  background: url('../images/login-bg.png');
  background-size: cover;
  -moz-background-size:cover;
  -ms-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/index-bg.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
              src='.../images/index-bg.png',sizingMethod='scale')";
}
.login-form {
  padding-top: 20px;
}

.login-form label {
  color: #2DCFB3;
}
.login-background .close {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 30px;
}


/*******************************************************************************************
 *    header css样式                                                                       *
 *******************************************************************************************/
.zcheader {
  padding: 0px 100px;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-header {
  /*padding-left: 50px;*/
  /*padding-right: 250px;*/
}
.navbar-default {
  border-color: #3e4651;
}
.navbar-header img {
  width: 206px;
  height: 38px;
  display: block;
  margin-top: 13px;
}
.zcheader .user-name {
  background: url(../images/admin.png) no-repeat left center;
  background-size: 23px 23px;
  font-size: 15px;
  padding-left: 29px;
  padding-right: 5px;
}
.zcheader .logout-label{
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.zcheader .navbar-right li a:hover {
  background-color: #3E4651;
  color: #fff;
}
.zcheader .navbar-right li a:visited {
  background-color: #3E4651;
  color: #fff;
}
.zcheader .nav span {
  padding-top: 22.5px;
  padding-bottom: 22.5px;
  line-height: 20px;
  display: block;
  color: #fff;
}
.zcheader .navbar-left {
  margin-left: 130px;
}
.zcheader .navbar-left > li > a {
  font-size: 16px;
}
/*.zcheader .navbar-left li:hover {
  border-top: 2px solid #39CAA3;
}*/
#content {
  margin-top: 65px;
}
.sidebar {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F8FCFF;
  border-right: 1px solid #eee;
}
#shrink-btn {
  overflow: hidden;
  padding-bottom: 10px;
}
#shrink-btn img {
  width: 50px;
  height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  float: right;
}
#shrink-btn img:hover {
  cursor: pointer;
}
#replace-nav {
  display: none;
}
#replace-nav a {
  text-indent: -999px;
}
.nav-sidebar {
  margin-right: -21px;
  margin-left: -20px;
  background-color: #E1EDFB;
}
.nav-sidebar .index-item {
  background: url(../images/首页.png);
  background-repeat: no-repeat;
  background-position: 25px 12px;

}
.nav-sidebar .publicity-item {
  background: url(../images/招生宣传.png);
  background-repeat: no-repeat;
  background-position: 25px 12px;

}
.nav-sidebar .evaluate-item {
  background: url(../images/生源质量.png);
  background-repeat: no-repeat;
  background-position: 25px 12px;

}
.nav-sidebar .analysis-item {
  background: url(../images/专业热度分析.png);
  background-repeat: no-repeat;
  background-position: 25px 12px;

}
.nav-sidebar .prediction-item {
  background: url(../images/生源预测.png);
  background-repeat: no-repeat;
  background-position: 25px 12px;

}
.nav-sidebar li a {
  font-size: 18px;
  color: #3E4651;
  padding-left: 68px;
}
.sub-item li a {
  display: block;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F8FCFF;
}
.nav-sidebar .menu-head {
  background: url(../images/展开.png);
  background-repeat: no-repeat;
  background-position: 290px 18px;
}
.nav-sidebar .current-item {
  background: url(../images/收回.png);
  background-repeat: no-repeat;
  background-position: 290px 18px;
}
.nav-sidebar .selected-item {
  text-decoration: underline;
}
#content #main .url-position{
  font-size: 17px;
  color: #4D6079;
  background: url(../images/首页.png) no-repeat left center;
  padding: 10px 28px;
}

#main .model-intr {
  margin: 20px 0;
  padding: 10px 25px;
  background-color: #FEFEFE;
}

#main .model-intr h4 {
  color: #2761B0;
  font-weight: 500;
}
#main .model-intr .intr-content {
  font-size: 15px;
}
#main .filter-cond {
  padding: 20px 25px;
  /*border-top: 2px solid #D9DADA;*/
  border-bottom: 2px solid #D9DADA;
  border-top: 2px solid #D9DADA;
}
#main .filter-cond span {
  font-size: 16px;
  background: url(../images/搜索.png) no-repeat left center;
  padding-left: 23px;
  color: #4D6079;
}
#main .filter-cond .report {
  margin-top: 10px;
}
#main .filter-cond label {
  font-weight: normal;
  color: #4D6079;
  font-size: 15px;
}
#main .filter-cond .form-control {
  border-radius: 0px;
  height: 30px;
  padding: 0 10px;
}
#main .filter-cond .form-margin {
  margin-right: 40px;
}

#main .filter-cond #reset-btn {
  margin-left: 30px;
}
#main .filter-cond  button {
  border-radius: 0px;
  height: 30px;
  padding: 0 20px;
}
#table-cont {
  margin-top: 10px;
  padding: 10px;
  min-height: 420px;
  background-color: #FEFEFE;
}
#table-cont .download {
  background: url(../images/下载.png) no-repeat left center;
  padding-left: 28px;
  background-size: 20px 20px;
  color: #4D6079;
}
#table-cont h4 {
  text-align: center;
}
#table-cont table tr th {
  text-align: center;
  vertical-align: middle;
}
#table-cont .table-responsive {
  margin-top: 10px;
}
#table-cont .pagination {
  margin: 10px auto;
  /*display: block;*/
  float: right;
}
#table-cont nav {
  overflow: hidden;
}
#table-cont .area-sort {
  padding-right: 20px;
  background: url(../images/down1.png) no-repeat right center;

}
#table-cont .sum-sort {
  padding-right: 20px;
  background: url(../images/down1.png) no-repeat right center;
}
/*table th, tr td {
  text-align: center;
}*/
.copy-right {
  padding: 10px;
  background-color: #3E4651;
}
.copy-right p {
  margin: 0px;
  /*line-height: 20px;*/
  color: #F5F8FB;
  text-align: center;
}


/*学校详情css*/
#table-cont .school-inf {
  padding: 10px;
  border: 1px solid #ddd;
}
#table-cont .school-inf section{
  overflow: hidden;
  padding: 10px 32px;
}
#table-cont .school-inf h3 {
  font-size: 17px;
  margin: 0px;
  padding: 10px 10px 10px 28px;
  background: url(../images/学校信息.png) no-repeat left center;
  background-size: 20px 20px;
}
#table-cont .school-inf .left-inf {
  float: left;
  width: 40%;
}
#table-cont .school-inf .right-inf {
  float: left;
  width: 60%;
}
#table-cont #contact-way {
  margin-top: 20px;
}
#table-cont #contact-way h3 {
  background: url(../images/联系方式.png) no-repeat left center;
  background-size: 20px 20px;
  overflow: hidden;
}
#table-cont .other-inf p {
  padding-left: 32px;
}
#table-cont #contact-way span {
  margin-left: 200px;
}
#table-cont #contact-way h3 span {
  float: right;
  font-size: 15px;
}
#table-cont #contact-way h3 a {
  padding-left: 20px;
  background: url(../images/修改.png) no-repeat left center;
  background-size: 20px 20px;
}

/*编辑学校信息详情*/
#table-cont #school-form {
  width: 300px;
  margin: 0 auto;
}
#table-cont #school-form .submit-btn {
  text-align: center;
}
#table-cont #school-form button {
  padding-left: 20px;
  padding-right: 20px;
}