<div class="url-position">我的位置>招生宣传>各省中学分布情况及基本情况</div>
<div id="table-cont">
    <form action="saveEditMiddleWor" id="school-form" method="post">

        <div class="form-group">
            <label for="headOffice">{{@position}}</label>
            <input type="text" class="form-control" id="headOffice" name="tel" placeholder="{{@tel}}">
        </div>

        <input type="hidden" name="middlecode" value="{{@code}}">
        <div class="submit-btn">
            <button type="submit" class="btn btn-primary">修改</button>
        </div>
    </form>
</div>